# C++ objects and libs

build/*

build-bial-Desktop_Qt_5_6_0_GCC_64bit-Release/*

tst/vrf/*
tst/res/*
tst/dat/*

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
./Makefile
./bial/Makefile
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*


*~
\#*\#
